{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-gray-100">
    <div class="flex h-screen">
        <!-- Main Content Area -->
        <div class="flex-1 flex flex-col min-w-0 h-full">
            <div class="flex h-full">
                <div class="flex-1 flex flex-col pl-4 pr-4">
                    <!-- Include the editor pane -->
                    {% include 'model/editor.html' %}
                    <!-- Include the results pane -->
                    {% include 'model/results.html' %}
                </div>
                <!-- Include the right pane -->
                {% include 'model/modal.html' %}
            </div>
        </div>
    </div>
</div>

<!-- CodeMirror Dependencies -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/monokai.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/sql/sql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/matchbrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/closebrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/show-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/sql-hint.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/show-hint.min.css">
{% endblock %} 